


/* Selector Universal */
*{
    margin: 0;
    padding: 0;
}

/* Selector de etiqueta */
body{
    background-image: url(/img/11111.jpg);
    color: rgba(215, 230, 230, 0.63);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Selecotor de ID */
#Contenedor{
    width: 900px; 
    height: 2750px;
    background-color: rgba(18, 112, 104, 0.418);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

/* Selector de ID */
#Encabezado{
    width: 100%;
    background-color: rgba(4, 77, 70, 0.534);
    border-radius: 5px;
    text-align: center;
}

/* Selector de ID*/
#Menu{
    height: 40px;
    background-color: rgba(4, 77, 70, 0.589);
    margin: 1em;
    border-radius: 5px;
}

/* Selector de Etiqueta */
ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}


li a:hover{
    color: rgb(17, 141, 114);
    font-size: 20px;
    text-decoration:  none;
    list-style: none;
}

/* Selector de Clase */
.img{
    width: 50%;
    border-radius: 30px;
}

.texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #f0e6e6;
}

.pie{
    height: 20px;
    background-color: rgb(92, 172, 164);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

.pie h4{
    padding: 15px;
    font-size: 20px;
    background-color: rgba(36, 133, 123, 0.973);
}

/* card */
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 8, 8, 0.63);
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}

.card:hover{
    max-width: 310px;
}

.card img{
    background-color: white;
    justify-content: center;
}

.card h1{
    font-family: "Big Shoulders Inline Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #f8efefef;
}

.titule{
    color: rgba(2, 49, 44, 0.842);
    font-size: 30px;  
    font-family: "Ruslan Display", sans-serif;
    font-weight: 400;
   font-style: normal;
}


.linea{
    width: 100%;
    height: 2px;
    background-color: rgba(4, 77, 70, 0.589);
    margin: 10px auto;
}

button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #f8efefef;
    background-color: #408285ea;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
}

html{
    scroll-behavior: smooth;
}

.ContenedorFlex{
    display: flex;
    width: 800px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(18, 112, 104, 0.418);
    padding: 10px;
    
}

.item{
    width: 400px;
    margin: 90px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 70px;
    
}