/* Selector Universal */
*{
    margin: 10;
    padding: 10;
}

/* Selector de etiqueta */
body{
    
    background-image:url(/img/nuves.jpg);
    
}

#Contenedor{
    width: 700px; 
    height: 570px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(240, 255, 255, 0.815);
}

/* Selector de ID*/
#Encabezado{
    width: 95%;
    background-color: rgba(216, 163, 113, 0.192);
    border-radius: 10px;
    text-align: center;

}

/* Selector de ID*/
#Menu{
    height: 80px;
    background-color:rgba(207, 147, 90, 0.356);
    margin: 1em 2em;
    border-radius: 5px;
}

li a:hover{
    color:  rgba(216, 163, 113, 0.973);
    font-size: 20px;
    text-decoration:  none;
    list-style: none;
}



.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(107, 56, 8);
}
      

.texto{
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(107, 56, 8);
}
 


