
/* Selector Universal */
*{
    margin: 0;
    padding: 0;
}

/* Selector de etiqueta */
body{
    background-image: url(/img/1fmrmr.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* Selector de ID*/
#Menu{
    height: 60px;
    background-color:rgba(116, 62, 160, 0.233);
    margin: 0.5em;
    border-radius: 7px;
}

#Contenedor{
    width: 1500px; 
    height: 1860px;
    background-color: rgba(64, 53, 73, 0.479);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* Selector de ID */
#Encabezado{
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

/* Selector de Etiqueta */
ul{
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}


li a:hover{
    color: rgb(220, 20, 220);
    font-size: 15px;
    text-decoration:  none;
    list-style: none;
}

/* Selector de Clase */


.texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #f0e6e6;
}



.pie{
    height: 35px;
    background-color: rgba(64, 53, 73, 0.479);
    margin: 0.5em;
    text-align: center;
    padding: 3px;
}

.pie h4{
    padding: 10px;
    font-size: 15px;
    background-color: rgba(69, 44, 90, 0.281);
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 8, 8, 0.63);
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}

.card:hover{
    max-width: 310px;
}

.card img{
    background-color: rgba(255, 255, 255, 0);
  
}

.card h2{
    font-family: "Lancelot", serif;
    font-weight: 400;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
}

button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #f8efefef;
    background-color: rgba(174, 135, 204, 0.925);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
}

.linea{
    width: 100%;
    height: 2px;
    background-color: rgba(174, 135, 204, 0.925);
    margin: 10px auto;
}

.ContenedorFlex{
    display: flex;
    width:1300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.363);
}

.item{
    background-color: rgba(116, 62, 160, 0.233);
    margin: 10px;
    border-radius: 10px;
    line-height: 25px;
    
}